ion-footer  { &.footer-md::before { background-image: none; } }

agm-map {
    height: 50vh;
  }
  
  agm-map {
    .gm-svpc {
      display: none;
    }
  }
  .status-grid {
    background-color: black;
    color: white;
  }